.gym-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
  
}
.main-exercise{
    margin: 20px;
}
.exercise{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 300px;
}
.cart{
    background-color: wheat;
    padding: 10px;
}



@media only screen and (max-width: 950px) {
    .gym-container{
        grid-template-columns: repeat(1, 1fr);
    }

   .exercise{

        grid-template-columns: 2fr 2fr;
    }
}