.part-exercise{
    border: 1px solid gray;
   
   
}
.part-exercise img{
    height: 200px;
    width: 300px;
  
}
.write{
    padding: 10px;
}

.btn-cart{
    color: white;
    width: 100%;
    background: rgb(52, 52, 179);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-cart .btn-text{
    margin-right: 5px;
}
.btn-cart:hover{
    background-color: rgb(89, 170, 67);
}